<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  <title>Category</title>

  <style>

  </style>
  <script>

    let category = `{{category}}`;

    function posting() {
      let url = $('#urlBox').val();
      let comment = $('#commentBox').val();
      let writer = $('#writerBox').val();
      let category = $('#cateBox').val();
      let title = $('#titleBox').val();

      let formData = new FormData();
      formData.append('url_give', url);
      formData.append('comment_give', comment);
      formData.append('nickname_give', writer);
      formData.append('category_give', category);
      formData.append('title_give', title);

      fetch(`/posts/${category}`, { method: 'POST', body: formData })
        .then((res) => res.json())
        .then((data) => {
          alert(data['msg']);
          window.location.reload();
        });
    }

    $(document).ready(function () {
      $('#cards-box').empty();
      getcategoryName();
      getData();
    });

    function getcategoryName(){
      var cate = ""

      switch(category){
        case 'movie':
          cate = '영화';
          break;
        case 'music':
          cate = '음악';
          break;
        case 'health':
          cate = '운동';
          break;
        case 'ani':
          cate = '애니';
          break;
        case 'book':
          cate = '책';
          break;
      }
      $('#changeLogo').text(cate);
    }

    function getData() {
      fetch(`/posts/data/`+category)
        .then((res) => res.json())
        .then((data) => {
          $('.body-home').empty()
          $('#cards-box').empty();
          let rows = data['result'];
          rowFilter = rows.filter((value) => value['category'] === category);
          rowFilter.forEach((a) => {
            let title = a['title'];
            let desc = a['comment'];
            let image = a['image'];
            let comment = a['comment'];
            let writer = a['user_id'];
            let catgegory = a['category'];
            let p_id = a['_id'];
            let reg_date = a['reg_date'];
            let artist = a['artist']

            let jsDate = new Intl.DateTimeFormat('kr').format(
              new Date(reg_date)
            );

            let temp_html = `<div class="col">
                      <div class="card h-100">
                        <img
                          src="${image}"
                          class="card-img-top cursor"
                          onclick="newPage(this)"
                          id="${p_id}"
                        />
                        <div class="card-body">
                          <input type="hidden" id="ç" value="${category}">
                          <h5 class="card-title">${title}</h5>
                          <p class="card-text text-flow">${artist}</p>
                          <p>${writer}</p>
                          <p class="mycomment text-flow">${comment}</p>
                          <p style="color: gray;">(${jsDate})</p>
                        </div>
                      </div>
                    </div>`;

            $('#cards-box').append(temp_html);
          });
        });
    }

    function deletepost(e) {
      let p_id = $(e).attr('class');

      fetch(`/posts/${p_id}`, { method: 'DELETE' })
        .then((res) => res.json())
        .then((data) => {
          alert(data['msg']);
          window.location.reload();
        });
    }

    function newPage(e) {
      let p_id = $(e).attr('id');
      let catergory = $('#ctVal').val();
      fetch(`/detail/move/${category}/${p_id}`);
      window.location.href = `/posts/move/${category}/${p_id}`;
    }

    function moving(e){
      let category = $(e).attr('id');

      window.location.href='/posts/'+category;
    }
  </script>
</head>

<body>
  <!-- 취향 공유하기 모달창 -->
  <div class="black-bg">
    <div class="white-bg">
      <h1 style="text-align: center; font-family: PyeongChangPeace-Bold">
        '취향'을 공유하세요!
      </h1>

      <form action="#">
        <div class="write-box">
          <div class="write-box-inside">
            <p>카테고리</p>
            <form>
              <select id="cateBox" size="1">
                <option value="movie">영화</option>
                <option value="music">음악</option>
                <option value="ani">애니</option>
                <option value="health">운동</option>
                <option value="book">책</option>
              </select>
            </form>
          </div>
          <div class="write-box-inside">
            <p>타이틀</p>
            <form>
              <input type="text" class="text-box" placeholder="타이틀을 입력해주세요" id="titleBox" />
            </form>
          </div>
          <div class="write-box-inside">
            <p>URL</p>
            <form>
              <input type="text" class="text-box" id="urlBox" placeholder="URL을 입력해주세요" />
            </form>
          </div>
          <div class="write-box-inside">
            <p>작성자</p>
            <form>
              <input type="text" id="writerBox" class="text-box" placeholder="작성자 이름을 입력해주세요" />
            </form>
          </div>
          <div class="write-box-inside">
            <p>코멘트</p>
            <form>
              <input type="text" id="commentBox" class="text-box" style="height: 200px"
                placeholder="취향에 대한 코멘트를 남겨주세요" />
            </form>
          </div>
          <div style="clear: both"></div>
        </div>
        <div style="text-align: center">
          <button type="submit" class="write-btn send-btn" id="send" onclick="posting()">
            전송
          </button>
          <button type="button" class="write-btn close-btn" id="close">
            닫기
          </button>
        </div>
      </form>
    </div>
  </div>
<!-- header 부분 -->
  <div class="contentContainer">
    <div class="headerWrap">
      <div class="memberHeader">
        <a onclick="window.location.href='/'">
          <img src="/static/src/img/logo_image.png" class="logo" alt="">
        </a>
        <p id="changeLogo"></p>
        <div class="memberBtn">
          <!-- <button>회원가입</button>
          <button>로그인</button> -->
          <button id="logout">로그아웃</button>
        </div>
      </div>
    </div>
    <div class="background">
  <!-- 왼쪽 내브바 부분 -->
      <div class="left-navbar">
        <div class="left-navbar-menu">
          <p>category</p>
        </div>
        <div class="left-navbar-content">
          <div class="category" id="category-1"><a id="movie" onclick="moving(this)">
              <img src="/static/src/img/circle.png" class="circle1" alt="">
              <div>영화 🎬</div>
            </a>
          </div>
          <div class="category" id="category-2"><a id="music" onclick="moving(this)">
              <img src="/static/src/img/circle.png" class="circle2" alt="">
              <div>음악 🎧</div>
            </a>
          </div>
          <div class="category" id="category-3"><a id="ani" onclick="moving(this)">
              <img src="/static/src/img/circle.png" class="circle3" alt="">
              <div>애니 📺</div>
            </a>
          </div>
          <div class="category" id="category-4"><a id="health" onclick="moving(this)">
              <img src="/static/src/img/circle.png" class="circle4" alt="">
              <div>운동 ⚽</div>
            </a>
          </div>
          <div class="category" id="category-5"><a id="book" onclick="moving(this)">
              <img src="/static/src/img/circle.png" class="circle5" alt="">
              <div>책 📚</div>
            </a>
          </div>
        </div>
        <button class="write">내 취향 공유하기</button>
      </div>

      <div class="body-home">
        <img src="/static/src/img/logo_image.png"  class="body-home-img" alt="">
      </div>

      <div class="body">
        <div class="mycards">
          <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
            <div class="col">
              <div class="card h-100">
                <img src="https://movie-phinf.pstatic.net/20210728_221/1627440327667GyoYj_JPEG/movie_image.jpg"
                  class="card-img-top cursor" onclick="newPage()" />
                <div class="card-body">
                  <h5 class="card-title">노래 제목이 들어갑니다</h5>
                  <p class="card-text">여기에 아티스트가 들어갑니다</p>
                  <p>작성자</p>
                  <p class="mycomment">나의 한줄 평을 씁니다</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('.write').on('click', function () {
      $('.black-bg').addClass('show-modal');
    });
    $('#close').on('click', function () {
      $('.black-bg').removeClass('show-modal');
    });

    $('#category-1').hover(function () {
      $('.circle1').addClass('circle-show');
    }, function () {
      $('.circle1').removeClass('circle-show')
    });

    $('#category-2').hover(function () {
      $('.circle2').addClass('circle-show');
    }, function () {
      $('.circle2').removeClass('circle-show')
    });

    $('#category-3').hover(function () {
      $('.circle3').addClass('circle-show');
    }, function () {
      $('.circle3').removeClass('circle-show')
    });

    $('#category-4').hover(function () {
      $('.circle4').addClass('circle-show');
    }, function () {
      $('.circle4').removeClass('circle-show')
    });

    $('#category-5').hover(function () {
      $('.circle5').addClass('circle-show');
    }, function () {
      $('.circle5').removeClass('circle-show')
    });

  </script>
</body>

</html>